.intensity-s1 {
    color: #fffffff2;
    background-color: #466482;
}

.intensity-s2 {
    color: #fffffff2;
    background-color: #1e78d2;
}

.intensity-s3 {
    color: #000000f2;
    background-color: #78e6dc;
}

.intensity-s4 {
    color: #000000f2;
    background-color: #ffff96;
}

.intensity-s51 {
    color: #000000f2;
    background-color: #ffd200;
}

.intensity-s52 {
    color: #000000f2;
    background-color: #ff9600;
}

.intensity-s61 {
    color: #fffffff2;
    background-color: #f02800;
}

.intensity-s62 {
    color: #fffffff2;
    background-color: #be0000;
}

.intensity-s7 {
    color: #fffffff2;
    background-color: #820028;
}
