<div class="full-window" *ngIf="initMode || status !== 'ok'">
    <div class="content">
        <div class="status-message" [ngSwitch]="status" *ngIf="!initMode">
            <div *ngSwitchCase="'no-contract'">
                <p> 現在、地震津波関連の契約がないため情報が表示できません。</p>
            </div>
            <div *ngSwitchCase="'no-auth'">
                <p> 認可情報が取り消されました。アプリケーション再連携を行ってください。</p>

                <div class="init" (click)="init()">
                    アプリケーション再連携
                </div>
            </div>
            <div *ngSwitchCase="'loading'">
                <p>Now loading...</p>
            </div>
            <div *ngSwitchDefault>
                <p>Now process...</p>
            </div>
        </div>
        <div class="init-view" *ngIf="initMode">
            <h1>地震情報ビューア</h1>
            <p>これは、地震情報をリアルタイムに更新する情報パネルです。</p>
            <p><a href="https://dmdata.jp">dmdata.jp</a>の「地震・津波関連」を契約している方のみ使用できます。</p>
            <p>WebSocketまたはPuLLリクエストを行い情報を取得しています。</p>
            <br>
            <p>このアプリケーションを使用するには、以下のアプリケーション連携をしてください。</p>
            <div class="init" (click)="init()">
                アプリケーション連携
            </div>
        </div>
    </div>

    <div class="footer">
        <p>ETCM - v.{{package.version}}</p>
        <p>&copy; {{package.author}}</p>
        <p>by DMDATA.JP</p>
    </div>
</div>

<app-monitor *ngIf="!initMode && status === 'ok'"></app-monitor>
