<div class="earthquake-main-data">
    <div class="event-data">
        <ng-container *ngIf="nowEventData">
            <div class="event-data-head intensity-s{{nowEventData.maxInt | intColor}}">
                <h2>地震情報</h2>
                <br>
                <div class="event-time">
                    <ng-container *ngIf="nowEventData.originTime">{{nowEventData.originTime | date: 'MM月dd日hh時mm分'}}
                        頃発生
                    </ng-container>
                    <ng-container *ngIf="!nowEventData.originTime">{{nowEventData.arrivalTime | date: 'MM月dd日hh時mm分'}}
                        頃検知
                    </ng-container>
                </div>
                <div class="event-maxint">
                    最大震度&nbsp;&nbsp;<span>{{nowEventData.maxInt || '-'}}</span>
                </div>
                <br>
                <div class="event-region">
                    震源&nbsp;&nbsp;{{nowEventData.hypocenter?.name}}
                </div>
                <div class="event-depth">
                    <span>深さ</span>
                    <span>&nbsp;&nbsp;</span>
                    <span *ngIf="nowEventData.hypocenter?.depth?.condition; else depthElseValue">{{nowEventData.hypocenter?.depth?.condition}}</span>
                    <ng-template #depthElseValue>
                        <span *ngIf="nowEventData.hypocenter?.depth?.value; else depthElseUnknown">{{nowEventData.hypocenter?.depth?.value}}
                            km</span>
                    </ng-template>
                    <ng-template #depthElseUnknown>不明</ng-template>
                </div>
                <div class="event-magnitude">
                    <span>規模</span>
                    <span>&nbsp;&nbsp;</span>
                    <span *ngIf="nowEventData.magnitude?.condition; else magElseValue">{{nowEventData.magnitude?.condition}}</span>
                    <ng-template #magElseValue>
                        <span *ngIf="nowEventData.magnitude?.value; else magElseUnknown">M {{nowEventData.magnitude?.value}}</span>
                    </ng-template>
                    <ng-template #magElseUnknown>M不明</ng-template>
                </div>
            </div>
            <div class="event-data-body">
                <ng-container *ngFor="let row of (nowEventData?.intensity?.city || nowEventData.intensity?.area || [])">
                    <div class="event-data-int" *ngIf="row[1].length > 0">震度{{row[0]}}: {{row[1].join(' ')}}</div>
                </ng-container>
            </div>
            <div class="event-data-footer">
                <div class="earthquake-comment">
                    <p *ngIf="nowEventData.comment?.var">{{nowEventData?.comment?.var}}</p>
                    <p *ngIf="nowEventData.comment?.forecast">{{nowEventData?.comment?.forecast}}</p>
                    <p *ngIf="nowEventData.comment?.free">{{nowEventData?.comment?.free}}</p>
                </div>
                <div class="event-data-meta">
                    <p>{{nowEventData.author}}: {{nowEventData.dateTime | date: 'YYYY/MM/dd HH:mm:ss'}}</p>
                    <p>{{nowEventData.eventId}}</p>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="event-map">
        <app-map></app-map>
    </div>
</div>
